@use "global" as *;

.breadcrumb{

}

.breadcrumb__inner{
    
    color: var(--green, #0D2936);
    font-family: "Noto Sans JP";
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.breadcrumb__top{
    text-transform: uppercase;
}

.breadcrumb__current{
    margin-left: rem(16);
    position: relative;
}

.breadcrumb__current::before{
    border-bottom: 1px solid #0D2936;
    border-right: 1px solid #0D2936;
    content: "";
    height: 0.375rem;
    left: -12%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 0.375rem;
}

.breadcrumb__current.breadcrumb__current--detail{
    display: none;
    @include mq("md"){
    display: inline-block;
    }
}

.breadcrumb__current.breadcrumb__current--privacy::before
{
    left: -7%;
}


.breadcrumb__inner.breadcrumb__inner--error{
    color: white;
  

}
.breadcrumb.breadcrumb--error{
    padding-top: rem(8);
}


.breadcrumb__current.breadcrumb__current--error::before{
    left: -40%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;

}

// .breadcrumb__inner.inner{
//     width: rem(1150);
// }