@use "global" as *;



.common-btn {
    position: relative;
    display: inline-block;
    font-size: rem(14);
    font-family: $base-font-family;
    font-weight: $regular;
    color: $green;
    width: rem(202);
    background-color: $white;
    line-height: 1;
    padding: rem(19) rem(88) rem(19) rem(40);
    border: rem(1) solid $white;
    white-space: nowrap;
    z-index: 1;
}



// ボタンの影
.common-btn::before {
    position: absolute;
    content: '';
    border: rem(1) solid $white;
    width: 100%;
    max-width: rem(202);
    height: rem(54);
    left: rem(4);
    top: rem(4);
    z-index: -1;
}

// ボタンの矢印
.common-btn__arrow::before {
    content: '';
    /*絶対配置で下線の位置を決める*/
    position: absolute;
    bottom: 48%;
    right: 20%;
    /*下線の形状*/
    width: 20%;
    height: rem(1);
    background: $green;
    // /*アニメーションの指定*/
    // transition: all .3s;
}

.common-btn__arrow::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    bottom: 54%;
    right: 20%;
    /*矢印の形状*/
    width: 4%;
    height: rem(1);
    background: $green;
    transform: rotate(40deg);
    // /*アニメーションの指定*/
    // transition: all .3s;
}

// ボタンのアニメーション
.common-btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    display: block;
    background-color: $green;
    z-index: -1;
    transition: 0.2s;
}

.common-btn:hover {
    color: $white;
}

.common-btn:hover::after {
    width: 100%;
}

.common-btn:hover .common-btn__arrow::after {
    background-color: $white;
  }

.common-btn:hover .common-btn__arrow::before {
    background-color: $white;
  }




.common-btn.common-btn--reverse {
    background-color: $green;
    color: $white;
    border: rem(1) solid $green;
}

.common-btn.common-btn--reverse::before {
    position: absolute;
    content: '';
    border: rem(1) solid $green;
    width: 100%;
    max-width: rem(202);
    height: rem(54);
    left: rem(4);
    top: rem(4);
    z-index: -1;
}

.common-btn__arrow.common-btn__arrow--reverse::before {
    content: '';
    /*絶対配置で下線の位置を決める*/
    position: absolute;
    bottom: 48%;
    right: 20%;
    /*下線の形状*/
    width: 20%;
    height: rem(1);
    background: $white;
    // /*アニメーションの指定*/
    // transition: all .3s;
}

.common-btn__arrow.common-btn__arrow--reverse::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    bottom: 54%;
    right: 20%;
    /*矢印の形状*/
    width: 4%;
    height: rem(1);
    background: $white;
    transform: rotate(40deg);
    // /*アニメーションの指定*/
    // transition: all .3s;
}

.common-btn.common-btn--reverse::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    display: block;
    background-color: $white;
    z-index: -1;
    transition: 0.2s;
}

.common-btn.common-btn--reverse:hover {
    color: $green;
}

.common-btn.common-btn--reverse:hover::after {
    width: 100%;
}

.common-btn.common-btn--reverse:hover .common-btn__arrow::after {
    background-color: $green;
  }

.common-btn--reverse:hover .common-btn__arrow::before {
    background-color: $green;
  }
