@use "global" as *;

.contact{
   
   
}

.contact__inner{
    max-width: rem(600);
}


    .contact__maininner{
        position: relative; 
        padding-left: rem(25);
        padding-right: rem(25);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @include mq("md"){     
        height: rem(415);
        background: #FFF;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
        padding-left: rem(50);
            padding-right: rem(115);
        display: flex;
        justify-content: space-between;
        padding-bottom: rem(80);
        padding-top: rem(80);
        max-width: rem(1080);
        }
    }

.contact__textes{
    margin-top: rem(9);
    padding-top: rem(5);
    font-family: "Noto Sans JP";
    @include mq("md"){
        margin-top: rem(0);
        padding-top: rem(0);
    }
}

.contact__textes p{
    margin-top: rem(4);
    @include mq("md"){
        margin-top: rem(4);
      }
}

// .contact__textes p:first-child{
//     padding-right: rem(0);
//     @include mq("md"){
//         padding-right: rem(23);
//       }
// }

.contact__textes p:last-child{
    @include mq("md"){
        text-align: left;
      }
}

.contact__subinner{
    @include mq("md"){
    }
}


.contact__wrap{
    margin-top: rem(2);
    border-top: 1px solid var(--greenaccent, #408F95);
    @include mq("md"){
       padding-top: rem(21);
        display: flex;
        padding-left: rem(0);
        padding-right: rem(0);
        margin-top: rem(0);
        gap: rem(21);
    }
}

.contact__leftwrap{
    @include mq("md"){  
        padding-right: rem(82);
        border-right:1px solid var(--greenaccent, #408F95) ;
    }
}


.cotact__rightwrap{   
    @include mq("md"){
        width: 34%;
        padding-top: rem(20);
    }
}

.contact__img1{
   display: inline-block;
    @include mq("md"){
    
        padding-bottom: rem(4);
        text-align: center;

    }
}


.contact__img1 img{  
    width: rem(174);
    height: rem(65);
    @include mq("md"){
        width: rem(200);
         height: rem(75);
      }
}

.contact__map{
    margin-top: rem(16);
    width: rem(295);
    height: rem(160);
    background-color: rgba(217, 217, 217, 1);
    aspect-ratio: 295/160;
    @include mq("md"){
        margin-top: rem(24);
        width: rem(273);
    height: rem(148);
    aspect-ratio: 273/148;
      }

}

.contact__tittle{
    margin-top: rem(40);
    text-align: center;
    font-family: Gotu;
    font-size: rem(80);
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
    @include mq("md"){
        margin-top: rem(0);
    }
 
}

.contact__tittle::first-letter {
    color: var(--greenaccent, #408F95);
    
}

.contact__text1{
    margin-top: rem(-6);
    color: var(--greenaccent, #408F95);
    
text-align: center;
font-family: "Noto Sans JP";
font-size: rem(12);
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
}

.contact__text2{
    color: var(--greenaccent, #408F95);
text-align: center;
font-family: "Noto Sans JP";
font-size: rem(14);
font-style: normal;
font-weight: 400;
line-height: 1.28571; /* 128.571% */
margin-top: rem(8);
@include mq("md"){
    margin-top: rem(10);
}

}

.contact__btn{
    margin-top: rem(40);

    @include mq("md"){
      
    }
}

.contact__img3{
    width:rem(109) ;
    height: rem(50);
    position: absolute;
    right: 0%;
    top: -4%;

    @include mq("md"){
       width: rem(301);
       height: rem(138);
       right: calc(50% - min(48.7vw,42rem));
       top: -9%;
      }
}


.contact__map{
    position: relative;
    margin: auto;
    margin-top: rem(12);
    @include mq("md"){
    margin-top: rem(0);
    }

}

.contact__map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}