@use "global" as *;

.error-mv{
    position: relative;
    background: var(--greenaccent, #408F95);
    top: rem(80);
        height: rem(358);

    @include mq("md"){height: rem(697);
         top: rem(90);}
        
   
}


.error-mv__breadcrumb{
  padding-top: rem(80);
   
}

.error-mv__tittle{
    text-indent: 0.5em;
    color: #FFF;
    font-family: Lato;
    font-size: rem(80);
    letter-spacing: rem(40);
    line-height: normal;
    @include mq("md"){
    font-size: rem(160);
    font-style: normal;
    font-weight: 400;
    letter-spacing: rem(80);
    }

}

.error-mv__inner{
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    @include mq("md"){
    transform: translate(-50%, -50%);
    }
    z-index: 2;
    transform: translate(-50%, -42%);
}

.error-mv__text{
    color: #FFF;
    font-family: Lato;
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
@include mq("md"){margin-top: rem(24);}

}

.error-mv__btn{
    margin-top: rem(40);
    @include mq("md"){margin-top: rem(80);}
}

.error-mv__bg{
    position: absolute;
    width: rem(328);
    height: rem(294);
    left: 7%;
    top: 7%;
    @include mq("md"){
    width: rem(665);
    height: rem(594);
    left: 14%;
    top: 7%;
    }
}