@use "global" as *;

    .footer{
    background-color: rgba(64, 143, 149, 1);
    white-space: nowrap;
    padding-top: rem(48);
    padding-bottom: rem(56);
        @include mq("md"){
            padding-top: rem(80);
     }
}

    .footer__logo img{
        width:rem(120) ;
        height: rem(45);

        @include mq("md"){
            width:rem(200) ;
            height: rem(75);
            
        }
    }


.footer__inner{
   max-width: rem(400);
}



.footer__nav{
   margin-top: rem(8);
   gap: rem(20);
    justify-content: space-between;
    @include mq("md"){
        margin-top: rem(0);
       gap: rem(38);
    }
}



.footer__copyright{
        margin-top: rem(18);
        text-align: center;
        @include mq("md"){
        margin-top: rem(62);
      
        }
}

.footer__copyright small{
    color: var(--White, #FFF);
    font-family: Gotu;
    font-size: rem(12);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;

    @include mq("md"){
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 1.28571; /* 128.571% */
    text-align: center;
    }

}

.footer__head{
    
    display: inline-block;
    @include mq("md"){
       display: flex;
       gap: rem(40);
        
    }
}

.footer__snses{
    gap: rem(16);
    margin-top: rem(16);
    @include mq("md"){
     margin-left: rem(-2);
     margin-top: rem(0);
   
     }
}

// .footer.footer--error{
//     padding-top: rem(128);
//     @include mq("md"){ padding-top: rem(165);}
// }


