@use "global" as *;


.head{
    position: relative;
    color: var(--green, #0D2936);
    font-family: "Noto Sans JP";
    font-size: rem(24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: rem(74);
    border-left: rem(9) solid rgba(64, 143, 149, 1);
    padding-top: rem(9);
    padding-bottom: rem(6);
}


.head::before{
background-image: url(../images/common/kuzira3.jpg);
background-position: center;
background-size: cover;
content: "";
height: rem(50);
left: rem(16);
bottom:-3%;
position: absolute;
width: rem(50);
z-index: 2;
}