@use "global" as *;

.sub-campaign-card{
    background: var(--White, #FFF);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

    @include mq("md"){
        height: auto;
    }
}

.sub-campaign-card.is-active{
    display: none;
}


.sub-campaign-card__img{
    position: relative;

}

.sub-campaign-card__img::before{
    content: "";
    display: block;
    padding-top: 67.14285%;
    @include mq("md") {
        padding-top: calc((223 / 333) * 100%);
    }
}

.sub-campaign-card__img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-campaign-card__inner{
    padding-right: rem(16);
    padding-left: rem(16);
    padding-top: rem(16);
    padding-bottom: rem(25);
    @include mq("md"){
        padding-top: rem(24);
        padding-bottom: rem(50);
        padding-left: rem(24);
        padding-right: rem(24);
    }

}

.sub-campaign-card__topic{
    color: var(--greenaccent, #408F95);
font-family: "Noto Sans JP";
font-size: rem(12);
font-style: normal;
font-weight: 400;
line-height: 1.83;
padding: rem(2.9) rem(12);
display: inline-block;
border: rem(1) solid var(--greenaccent, #408F95);

@include mq("md"){
font-size: rem(12);
line-height: 1.83333; /* 183.333% */
padding: rem(5.5) rem(16);
}
}

.sub-campaign-card__tittle{
color: var(--green, #0D2936);
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
margin-top: rem(6);

@include mq("md"){
font-size: rem(24);
}

}

.sub-campaign-card__text{
    color: var(--green, #0D2936);
    font-family: "Noto Sans JP";
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    margin-top: rem(6);
    border-top: rem(1) solid var(--greenaccent, #408F95);
    text-align: center;
    padding-top: rem(8);
    
@include mq("md"){
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(22);
    margin-top: rem(0);
    }
}

.sub-campaign-card__wrap{
    display: flex;
   margin-top: auto;
   align-items: flex-end;
   gap: rem(16);
   @include mq("md"){
    justify-content: center;
    gap: rem(40);
   }
}


.sub-campaign-card__falseprice{
    text-decoration: rem(3) line-through #C94800;
    
    color: var(--green, #0D2936);
    font-family: "Lato", sans-serif;
    font-size: rem(20);
    padding-left: rem(19);
    font-style: normal;
    font-weight: 700;
    line-height: 1;

@include mq("md"){
    font-family: Lato;
    font-size: rem(24);
   
    padding-left: rem(0);
}
    
}

.sub-campaign-card__trueprice{
    color: #408F95;
    font-family: Lato, sans-serif;
    font-size: rem(32);
    font-style: normal;
    font-weight: 700;
    line-height: 1; /* 100% */
    padding-top: rem(8);
    @include mq("md"){
    font-family: Lato;
    font-size: rem(40);
    }

}

.sub-campaign-card__sentence{
    display: none;
    @include mq("md"){
        display: block;
        color: var(--green, #0D2936);
    font-family: "Noto Sans JP";
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    margin-top: rem(24);
    }
}

.sub-campaign-card__date{
    display: none;
    @include mq("md"){
    display: block;
    color: var(--greenaccent, #408F95);
    text-align: center;
    font-family: Lato;
    font-size: rem(16);
    font-style: normal;
    font-weight: 700;
    line-height: 1.125; /* 112.5% */
    margin-top: rem(31);

    }


}

.sub-campaign-card__reservation{
    display: none;
    @include mq("md"){
        display: block;
        color: var(--greenaccent, #408F95);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 1.28571; /* 128.571% */
    margin-top: rem(4);
    }
}


.sub-campaign-card__btn{
    display: none;
    @include mq("md"){
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: rem(16);
    }

}