@use "global" as *;



.two-colums__campaign-cards{
   
    margin-top: rem(28);
    @include mq("md"){ 
        margin-top: rem(24); 
       
    }
}


.two-colums__items{

    margin-top: rem(24);
}



    .two-colums__inner,
    .two-colums__inner--single{
        position: relative;
        @include mq("md"){
            display: flex;
            gap: 7.9632%;
        }
    }



.two-colums__inner--single.inner{

    padding-left:rem(15) ;
    padding-right: rem(15);

    @include mq("md"){
      padding-left:rem(25) ;
      padding-right: rem(25);
    }
}


.two-colums__pagenation{
    margin-top: rem(40);
   @include mq("md"){ margin-top: rem(80);}
}



// .two-colums__item{
//     padding: rem(16);
//     background: var(--White, #FFF);
//     box-shadow: rem(2) rem(2) rem(10) 0px rgba(0, 0, 0, 0.25);
// }

.two-colums__right{
    padding-left: rem(25);
    padding-right: rem(25);
    margin-top: rem(78);
    @include mq("md"){
    width: 27.222%;    
    padding-left: 0;
    padding-right: 0;  
    margin: 0;
    }
}

// .two-colums__img{
//     width: 47.1%;
// }

// .two-colums__img img{
//     aspect-ratio: 121/90;
//     object-fit: cover;
// }

// .two-colums__textes{
//     width: 48%;
// }

// .two-colums__text{

//     color: var(--green, #0D2936);
//     font-family: "Noto Sans JP";
//     font-size: rem(16);
//     font-style: normal;
//     font-weight: 500;
//     line-height: 1;
// }


// .two-colums__wrap{
//     display: flex;
//     gap: rem(16);
   
// }

// .two-colums__date{
//     color: var(--green, #0D2936);
//     font-family: Gotu;
//     font-size: rem(12);
//     font-style: normal;
//     font-weight: 400;
//     line-height: 1.5; /* 150% */
//     vertical-align: top;
// }

.two-colums__kutikomi{
    margin-top: rem(80);
    text-align: center;
    @include mq("md"){
    margin-top: rem(80);
    }
}

.two-colums__kutikomi-img{
    margin-top: rem(24);
   
}

.two-colums__head{
    text-align: left;
}

.two-colums__year:nth-of-type(1){
    margin-top: rem(20);
}


// .two-colums__age{
//     color: #0D2936;
//     font-family: "Noto Sans JP";
//     font-size: rem(12);
//     font-style: normal;
//     font-weight: 400;
//     line-height: 1.5; /* 150% */
//     margin-top: rem(16);
//     text-align: left;
// }

// .two-colums__tittle{
//     color: var(--green, #0D2936);
//     font-family: "Noto Sans JP";
//     font-size: rem(24);
//     font-style: normal;
//     font-weight: 500;
//     line-height: normal;
//     margin-top: rem(8);
//     text-align: left;
    
// }

// .two-colums__btn{
//     margin-top: rem(43);

// }

.two-colums__campaign{
    margin-top: rem(82);
    text-align: center;
    @include mq("md"){
    margin-top: rem(84);
    }

}

.two-colums__archive{
    margin-top: rem(86);
}

.two-colums__year{
    color: var(--greenaccent, #408F95);
    font-family: "Noto Sans JP";
    font-size: rem(24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-left: rem(32);

}

.two-colums__year::before{
    background-image: url(../images/common/sankaku1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.5rem;
    left: 0.3%;
    position: absolute;
    top: 7%;
   
    width: 1.5rem;
}

.two-colums__year.is-active::before{
    background-image: url(../images/common/sankaku2.png);
    
  
    
}

.two-colums__content.is-active{
    display: none;
   

}





.two-colums__month{
    display: block;
    position: relative;
    color: var(--greenaccent, #408F95);
    font-family: "Noto Sans JP";
    font-size: rem(24);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: rem(24);
    margin-top: rem(6);
   
}



.two-colums__month::after{
    background-image: url(../images/common/sankaku2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 1.5rem;
    left: -1%;
    position: absolute;
    top: 7%;
    transition: transform 0.3s;
    width: 1.5rem;
}

.two-colums__left{
    @include mq("md"){
        width: 64.8148%;
    }
}

.two-colums__two-colums{
    padding: 0;
    box-shadow: none;
    display: inline-block;
    background: var(--White, #FFF);

}


.two-colums__two-colums:nth-of-type(2){

    margin-top: rem(24);
    @include mq("md"){
        margin-top: rem(40);
    }
}

.two-colums__date{
    margin: 0;

    font-size: rem(14);
    line-height: 1.28571; /* 128.571% */

    color: var(--green, #0D2936);
    font-family: Gotu;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    display: block;

}







