
@use "global" as *;


.voice-card{
    background: var(--White, #FFF);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(15) rem(16) rem(23) rem(16);
    @include mq("md"){
        padding: rem(15) rem(24) rem(24) rem(24);
        }
}

.voice-card__wrapper{
    display: flex;
    justify-content: space-between;
    gap: rem(14);
    @include mq("md"){
      gap: rem(16);
    }
}


.voice-card__inner{
    text-align: left;
    max-width: 47.6%;
    margin-top: auto;
    @include mq("md"){
        max-width: 60%;
        padding-bottom: rem(4);
        padding-top: rem(34);
      }

}

.voice-card__img{
    object-fit: cover;
    aspect-ratio: 151/117;
    max-width: 48.24%;
    padding-top: rem(10);
        @include mq("md"){
            aspect-ratio: 180/140;
            max-width: 38%;
    }
}


.voice-card__textes{
    @include mq("md"){
     display: flex;
     justify-content: space-between;
    }
}

.voice-card__text1{
    color: var(--green, #0D2936);
font-family: "Noto Sans JP";
font-size: rem(12);
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
@include mq("md"){
    padding-top: rem(12);
  }

}

.voice-card__text2{
    color: var(--greenaccent, #408F95);
font-family: "Noto Sans JP";
font-size: rem(12);
font-style: normal;
font-weight: 400;
line-height: 1.83333; /* 183.333% */
border: rem(1) solid var(--greenaccent, #408F95);
display: inline-block;

margin-top: rem(-1);
margin-left: rem(-1);
padding-top: rem(2);
padding-right: rem(11);
padding-bottom: rem(4);
padding-left: rem(12);



@include mq("md"){
    padding-top: rem(6);
    padding-right: rem(16);
    padding-bottom: rem(4);
    padding-left: rem(15);
}

}

.voice-card__text3{
    color: #000;
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
margin-top: rem(2);
padding-bottom: rem(4);
border-bottom: rem(1) solid var(--greenaccent, #408F95);
@include mq("md"){
    font-size: rem(24);
    margin-top: rem(5);
    padding-bottom: rem(3);
}
}

.voice-card__text4{
    text-align: left;
    margin-top: rem(16);
    color: #000;
font-family: "Noto Sans JP";
font-size: rem(16);
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
@include mq("md"){
    color: var(--green, #0D2936); 
    margin-top: rem(40);
}

}



